* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}
header {
  background-image: url(LonelyMountain.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
}
ul li {
  display: inline-block;
  color: white;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px 5px 20px;
  border: 5px solid #fff solid transparent;
  transition: 0.6s ease;
  font-size: 20px;
}
ul li a:hover {
  background-color: white;
  color: black;
}
ul li.active a {
  background-color: white;
  color: black;
}
.navbar-brand img {
  height: 200px;
  padding-left: 0px;
  position: absolute;
  top: -3%;
  left: -4%;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1 {
  color: #fff;
  font-size: 70px;
}
.button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.6s ease;
}
.btn:hover {
  background-color: white;
  color: black;
}
main {
  max-width: 1200px;
  margin: auto;
}
